// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

body{
    font-family: Arial, sans-serif;
    background-color: rgb(13, 13, 48);
    color: rgb(4, 138, 248);
    text-align: center;

}


div{
    margin-top: 2.5em;
}
div.b{
    margin-top: 0.5em;
}
h1 {
    font-weight: 900;
    margin-bottom: 0em;
}

div a.cta {
    
    border: 2 px solid rgb(4, 138, 248);
    border-radius: 5px;
    color: rgb(4, 138, 248);
    padding: 4em 10em;
}
h6 {
    margin-top: 2em;
}

div p {
    padding : 0em;
    margin-left : 0em;
    margin-right : 0em;
    margin-top: 0.3em;
    margin-bottom: 0em;
}

footer {
    margin-top: 5em;
    font-size: 0.7rem;
}

.custom-container{
    align-items: center;
    display: flex;
    justify-content: center;
}

@media (max-width : 767px){
    font-size-sm{
        font-size: .7rem;
    }
    font-size-m{
        font-size: 1.2rem;
    }
    div p {
        padding : 0.5em;
        margin-left : 2em;
        margin-right : 2em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    hr{ 
        width: 70%;
        margin-bottom: 1.5em;
    }
}